<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link rel="shortcut icon" href="../static/images/image1.jpg" type="image/x-icon"> -->
    <style>
        body{
            background-image: url('{% static "images/Image7.jpg" %}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
        }
    </style>
</head>
<body>

    <div class="user">
        <div id="home"><h1>HOME_PAGE</h1></div>
        <br><br>
 <!-- search starts -->
        <div id="search">
            <input type="search" name="search" id="search" >
        </div>
        <br><br>
        <!-- search end -->
      
        
<!-- cards start -->
<div id="card">
    <div class="sub_cards">
        <img src="{% static 'images/image1.jpg' %}" alt="" class="image">
        <ul>
            <li>hostel_name</li>
            <li>area</li>
            <li><a href="">more_details</a></li>
        </ul>
    </div>
    <div class="sub_cards">
        <img  src="{% static 'images/image1.jpg' %}" alt="" class="image">
        <div>
            <ul>
                <li>hostel_name</li>
                <li>area</li>
                <li><a href="">more_details</a></li>
            </ul>
        </div>
    </div>
    <div class="sub_cards">
        <img src="{% static 'images/image1.jpg' %}" alt="" class="image">
        <ul>
            <li>hostel_name</li>
            <li>area</li>
            <li><a href="">more_details</a></li>
        </ul>
    </div>
    </div>
 <!-- cards end -->
<br><br>
    <a href=""><button>personal_details</button></a>
    <br><br>
    <a href="{% url 'customer:logout' %}"><button>Logout</button></a>
</div>
</body>
</html>