/* *{
    margin: 0%;
    height: 700px;
} */
#home{
    /* border: 2px solid red; */
    margin-top: 2%;
    padding-left: 40%;
    font-size: large;
    color: olive;
    /* font-weight: 1000 px; */
}
#search
{

    width: 60%;
    padding-left: 30%;
    height: 40px;
    border-radius: 4lvb ;
}

button{
    height: 35px;
    width: 200px;
    font-size: larger;
    margin-left: 5%;

}
button:hover{
    background-color: green;
}
#card{
    /* border: 2px solid black; */
    height: 350px;
    display: flex;
    justify-content: space-around;
}
.sub_cards{
    border: 2px solid red;
    height: 300px;
    width: 250px;
    background-color: aqua;
}

.image{
    height: 200px;
    width: 250px;
}
