#login
{
    border: 2px solid red;
    height: 400px;
    width: 300px;
    background-color: aqua;
}
button{
    height: 35px;
    width: 200px;
    font-size: larger;
    /* margin-left: 5%; */

}
button:hover{
    background-color: green;
}
